@model IEnumerable<SKCDirectory1.Models.DirectoryView>

@{
    ViewBag.Title = "Directory";
}

<h2>Directory</h2>

<a asp-controller="DirectoryView" asp-action="Index">List by Name</a>
<br />
<br />

<form asp-controller="DirectoryView" asp-action="Group" method="get">
    <p>
        Name: <input type="text" name="searchString">
        <input type="submit" value="Search" />
        <input type="submit" value="Clear Search" />
    </p>
</form>

@foreach (var group in Model.GroupBy(item => item.Department).OrderBy(item => item.Key)) {
    <div><h3> @Html.Encode(group.Key) </h3></div>
<table class="table">
    <tr>
@*        <th>UserId</th>*@
        <th>FullName</th>
        <th>Email</th>
        <th>Building</th>
        <th>Office Number</th>
        <th>Phone Number</th>
        <th>Department</th>
    </tr>

    @foreach (var item in group)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                <a asp-action="DirectoryEntry" asp-controller="DirectoryView" asp-route-id="@item.UserId">@item.FullName</a>
                @*@Html.DisplayFor(modelItem => item.FullName)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>

        </tr>
    }
</table>
}